<% include ../partials/header %>
    

    
    <div class="container">
        <header class="jumbotron">
 		    <h1><span class="glyphicon glyphicon-tent"></span> Welcome To CampFinder!</h1>
            <p>Campgrounds from all over the world</p>
            <p>
            <a id="button" class="btn btn-primary btn-large" href="campgrounds/new">Add new Camps</a>
            </p>
        </header>

    <div>
        <div class="row" style="display:flex; flex-wrap: wrap;">
            <% campgrounds.forEach(function(campground){ %>
            <div class="col-la-3 col-md-4 col-sm-6 " >
                <div class="thumbnail">
                    <img src="<%=campground.image%>">
                    <div class="caption">
                        <h4><%= campground.name %></h4>
                <a id="button" class="btn btn-primary btn-block" href="/campgrounds/<%=campground._id%>">More info!</a>
                    </div>
                </div>
            </div>    
            <% }); %>
        </div>
    </div>
    <% include ../partials/footer %>
</div>